<svelte:head>
	<title>Pokemon region</title>
</svelte:head>

<script context="module">
import {
	getAll,
	getRegionPokemons,
	getRegionTrainers,
	create,	remove } from '../service.js'

export async function preload(page, session) {
	let [pokemons, err] = await getAll()
	return { pokemons: pokemons.results }
}
</script>

<script>

import PokemonCard from '../components/Pokemon.svelte'
import { regionTrainers, regionPokemons } from '../stores.js';

const fetchRegionData = async () => {
	let [res, err] = await getRegionPokemons()
	if(res) regionPokemons.set(res)

	let [res2, err2] = await getRegionTrainers()
	if(res2) regionTrainers.set(res2)
}
fetchRegionData()

export let pokemons
export let trainer = {
	name: ''
}

async function addTrainer() {
	const [res, err] = await create('trainers', trainer)
	if(res.id) {
		regionTrainers.update(r => [...r, res])
		trainer.name = ''
	}
}
async function removeTrainer(id) {
	const [res, err] = await remove('trainers', id)
	if(res) {
		regionTrainers.update(r => r.filter(t=>t.id!==id))
	}
}
</script>

<div>
	<h1>Trainers from this region</h1>
	<form on:submit|preventDefault={addTrainer}>
		<label for="name">Add new trainer</label>
		<input type="text" bind:value={trainer.name} placeholder="Name..">
		<input type="submit" value="Create" />
	</form>

	{#each $regionTrainers as trainer}
		<div>
			<h2>{trainer.name}</h2>
			{#if !trainer.pokemon.length}
				<button on:click={removeTrainer(trainer.id)}>Transfer out</button>
			{/if}
			{#each trainer.pokemon as pokemon}
				<PokemonCard pokemon={{...pokemon, trainer: { id: trainer.id }}} />
			{/each}
		</div>
	{/each}
	{#if !$regionTrainers.length}<p>No trainers in this region</p>{/if}


	<h1>Pokemon from this region</h1>

	{#each $regionPokemons as pokemon}
		<PokemonCard {pokemon} />
	{/each}
	{#if !$regionPokemons.length}<p>No pokemon in this region</p>{/if}


	<h1>First gen available pokemon</h1>
	<ul>
		{#each pokemons as pokemon}
			<PokemonCard {pokemon} />
		{/each}
	</ul>
</div>

<style>

	div > div {
		background: #fafafa;
		border: 1px solid #ddd;
		margin: 2% 0;
	}
	ul {
		list-style: none;
		padding: 0
	}
	h2 {
		margin: 2% 2% 0
	}
</style>