<script>

export let pokemon
import { regionTrainers, regionPokemons } from '../stores.js'
import { getDetail, create, edit, remove } from '../service.js'

let number = pokemon.number || pokemon.url.split('/')[6]
let promise = getDetail(number)

if(!pokemon.trainer) pokemon.trainer = { id: 0 }

let currentTrainer = {...pokemon.trainer}

async function add() {
  let payload = { number }
  let { id } = pokemon.trainer
  if(id > 0) payload.trainer = id
	const [res, err] = await create('pokemon', payload)
	if(res.id) {
    regionPokemons.update(r => [...r, res])
    if(res.trainer) {
      regionTrainers.update(t => t.map(current => {
        if(current.id === res.trainer.id) {
          let { id, number } = res
          return {...current, pokemon: [...current.pokemon, { id, number }]}
        }
        return current
      }))
    }
	}
}

async function transferOut() {
  let [res, err] = await remove('pokemon', pokemon.id)
  if(res) regionPokemons.update(current=>current.filter(p=>p.id!==pokemon.id))
}

async function change() {
  let [res, err] = await edit('pokemon', pokemon.id, { trainer: pokemon.trainer.id })
  if(res) {
    regionTrainers.update(t => t.map(current => {

      if(current.id === res.trainer.id) { // then add
        let { id, number } = res
        return {...current, pokemon: [...current.pokemon, { id, number }]}
      }
      if(current.id === currentTrainer.id) { // then remove
        return {...current, pokemon: current.pokemon.filter(p=>p.id!==pokemon.id)}
      }
      return current
    }))
    currentTrainer = res.trainer
  }
}
</script>

<li class:wild={!pokemon.trainer.id}>
  {#await promise}
    <p>...loading</p>
  {:then detail}

    <div><b>Name</b> {detail[0].name}</div>
    <div><b>Number</b> {detail[0].id}</div>
    <div><b>Type</b> {detail[0].types.map(t => t.type.name).join(', ')}</div>
    <img loading="lazy" width="96" height="96"
      alt={detail[0].name} src={detail[0].sprites.front_shiny}>

    <label for="trainer">Assing to</label><br />
    <select id="trainer" bind:value={pokemon.trainer.id} required>
      {#if !pokemon.trainer.id}
        <option value="0">No trainer (Wild)</option>
      {/if}
      {#each $regionTrainers as trainer}
        <option value={trainer.id}>{trainer.name}</option>
      {/each}
    </select>
    <br />
    {#if !pokemon.id}
      <button on:click={add}>Add to region</button>
    {:else}
      <button on:click={change}>Set trainer</button>
      <button on:click={transferOut}>Transfer out</button>
    {/if}

  {:catch error}
    <p style="color: red">{error.message}</p>
  {/await}
</li>

<style>

	li {
    display: inline-block;
    background: #eee;
    margin: 2%;
    padding: 2%;
    font-size: 80%
    /* text-align: center; */
	}
	img {
		display: block
  }
  .wild {
    background: rgb(219, 234, 219)
  }

</style>  